{% extends "MueblesM/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Pagina para muebles" />
    <title>Muebleria</title>

    <link rel="stylesheet" href="{% static 'css/stylemueblesmovables.css'%}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylemueblesmovablesproductos.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
    <link rel="stylesheet" href="https://unpkg.com/primeflex/themes/saga-blue.css">
    <script src="https://kit.fontawesome.com/b3f17f1dac.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
             <!-- Carrusel Librerias  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
{% comment %} <header class="flex w-full fixed top-0 z-1">
    <nav class="flex justify-content-between w-full navbar">
        <span class="logo cursor-pointer" onclick="scrollToSection('home')">
            <img src="{% static 'MueblesMovables.jpg'%}" alt="Logo Muebleria" width="150" height="150">
        </span>
        <input type="checkbox" aria-label="Checkbox para mostrar y quitar carrito"
            class="checkbox xl:hidden">
        <div class="hamburger__lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <div class="header__info flex align-items-center gap-3">
            <ul class="flex flex-column xl:flex-row list-none">
                <li onclick="scrollToSection('Carrusel')"><a class="links" href="{% static 'MueblesM/index.html'%}">Inicio</a></li>
                <li onclick="scrollToSection('services')"><a class="links" href="{% static 'MueblesM/index.html'%}">Nosotros</a></li>
                <li onclick="scrollToSection('contact')"><a class="links" href="{% static 'MueblesM/index.html'%}">Contactanos</a></li>
            </ul>
            <div class="hireMe__button pt-4">
                <a href="" aria-label="Enviar mensaje al correo"
                    class="cursor-pointer no-underline border-round-lg text-xl xl:text-sm">CARRITO</a>
            </div>
        </div>
    </nav>
</header> {% endcomment %}
 {% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Catálogo de productos de mueblería</h1>

<div class="container">

		<div class="product-row">


				<div class="card">
					<img src="{% static 'access/closet 1.jpg' %}" alt="Closet 1">
					<h2>Closet N°1</h2>
					<p>Closet de melamina gris.</p>
					<p class="price">$140.000</p>
				</div>
&nbsp;
&nbsp;
&nbsp;
				<div class="card">
					<img src="{% static 'access/closet 2.jpeg' %}" alt="Closer 2">
					<h2>Closet°2</h2>
					<p>Closet de melamina blanca 2.</p>
					<p class="price">$94.990</p>
				</div>
&nbsp;
&nbsp;
&nbsp;
				<div class="card">
					<img src="{% static 'access/closet 3.jpeg' %}" alt="Closet 3">
					<h2>Closet°3</h2>
					<p>Closet de madera negra.</p>
					<p class="price">$120.000</p>
				</div>


		</div>
<div class="product-row">
			<div class="card">
				<img src="{% static 'access/closet 4.jpeg'%}" alt="Closet 4">
				<h2>Closet°4</h2>
				<p>Closet de melamina malbec.</p>
				<p class="price">$80.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/escritorio 1.jpeg'%}" alt="Escritorio 1">
				<h2>Escritorio°1</h2>
				<p>Escritorio simple base metalica .</p>
				<p class="price">$55.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/mesa 1.jpeg'%}" alt="Mesa 1">
				<h2>Mesa°1</h2>
				<p>Mesa de centro geométrica.</p>
				<p class="price">$65.000</p>
			</div>
		</div>
        <div class="product-row">

			<div class="card">
				<img src="{% static 'access/Mueble 1 Mesa Tv.PNG'%}" alt="Mesa TV 1">
				<h2>Rack pequeño°1</h2>
				<p>Rack pequeño para TV malbec.</p>
				<p class="price">$95.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/Mueble 2 Mesa Tv.PNG'%}" alt="Mesa TV 2">
				<h2>Rack pequeño°2</h2>
				<p>Rack pequeño para TV con cajones blancos.</p>
				<p class="price">$62.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/Mueble 3 Rack.PNG'%}" alt="Mueble 3">
				<h2>Rack pequeño°3</h2>
				<p>Rack pequeño para TV con cajones blancos.</p>
				<p class="price">$87.000</p>
			</div>
		</div>
        <div class="product-row">

			<div class="card">
				<img src="{% static 'access/rack 1.jpeg'%}" alt="Rack 1">
				<h2>Rack°1</h2>
				<p>Rack alto 2 cajones.</p>
				<p class="price">$45.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/rack 2.jpeg' %}" alt="Rack 2">
				<h2>Rack°2</h2>
				<p>Rack alto 5 cajones color nogal.</p>
				<p class="price">$165.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
            <div class="card">
				<img src="{% static 'access/rack 3.jpeg' %}" alt="Rack 3">
				<h2>Rack°3</h2>
				<p>Rack alto 5 cajones color caoba.</p>
				<p class="price">$128.000</p>
			</div>

		</div>
        <div class="product-row">
			<div class="card">
				<img src="{% static 'access/Mueble 10 Buffets.PNG'%}" alt="Mueble Buffets">
				<h2>Mueble Buffert°1</h2>
				<p>Mueble estilo Buffert color nogal.</p>
				<p class="price">$125.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/Mueble 9 Escritorio.PNG'%}" alt="Mueble Escritorio">
				<h2>Escritorio°1</h2>
				<p>Escritorio alto sin cajones.</p>
				<p class="price">105.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="{% static 'access/Mueble 7 Mesa Centro.PNG'%}" alt="Mesa Centro">
				<h2>Mesa°2</h2>
				<p>Mesa centro base metalica.</p>
				<p class="price">$64.990</p>
			</div>
		</div>
        <div class="product-row">
			<div class="card">
				<img src="{% static 'access/Mueble 8 Velador.PNG'%}" alt="Mueble Velador">
				<h2>Mueble Velador°1</h2>
				<p>Velador pequeño color malnbec</p>
				<p class="price">$25.000</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="img.PNG" alt="img">
				<h2>Fuera de Stock</h2>
				<p>descripcion.</p>
				<p class="price">$0</p>
			</div>
&nbsp;
&nbsp;
&nbsp;
			<div class="card">
				<img src="img.PNG" alt="img">
				<h2>Fuera de Stock</h2>
				<p>descripcion.</p>
				<p class="price">$0</p>
			</div>
		</div>
	</div>

	{% endblock %}
</body>

